<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Product</title>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
          <th>Tên</th>
          <th>Loại</th>
          <th>Giá</th>
          <th>Mô Tả</th>
        </tr>

        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
              <td><%= dataTable[i].tenSP %></td>
              <td><%= dataTable[i].loaiSP %></td>
              <td><%= dataTable[i].giaSP %></td>
              <td><%= dataTable[i].moTaSP %></td>
            </tr>
        <% } %>
      </table>
</body>
</html>